
.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* font-size: calc(15px + 2vmin); */
  color: white;
}

.App-text {  
  z-index: 1;
  font-size: 318px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}
.App-bpm {  
  font-size: 40px;
  line-height: 12px;
  z-index: 1;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  
}
.App-heart {
  position: absolute;
}
.App-heart-wrapper {
  position: absolute;
  z-index : 0;
  transform: translate(125px, -190px);
}
