body {
  margin: 0;
  font-family: 'bignoodletitling';
}
@font-face {  
  font-family: 'bignoodletitling';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/big_noodle_titling.ttf');	
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
